@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<br />
<div class="p-4">
    <img src="~/Images/txdotBanner.png" width=100% />
    @*<kendo-panelbar name="intro">
    <items>
    <panelbar-item text="ASP.NET Core" selected="true" expanded="true">
    <content>
    <p style="padding:1em 2em">
    Learn how to build ASP.NET apps that can run anywhere.
    <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">Learn More</a>
    </p>
    </content>
    </panelbar-item>
    <panelbar-item text="Visual Studio">
    <content>
    <p style="padding:1em 2em">
    There are powerful new features in Visual Studio for building modern web apps.
    <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">Learn More</a>
    </p>
    </content>
    </panelbar-item>
    <panelbar-item text="Package Management">
    <content>
    <p style="padding:1em 2em">
    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
    <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">Learn More</a>
    </p>
    </content>
    </panelbar-item>
    </items>
    </kendo-panelbar>*@
</div>