<h1>Forgot Password Confirmation</h1>

<br /><br /><br /><br /><br />

<div class="card text-light mb-3" style="max-width: 80%;">
  <div class="card-header bg-primary text-light"><h3>One more step</h3></div>
  <div class="card-body bg-light text-primary">
    <h5 class="card-title">An email has been sent</h5>
    <p class="card-text">Please check your email to continue process of password reset</p>
  </div>
</div>