@using SignReplacementLaredo_App.ViewModels
@model LoginViewModel

<br/>
<h1 align="center">Laredo</h1>
<h1 align="center">Sign Replacement Tool</h1>
<br />
<br />
<p><center>For Testing Only</center></p>
<p><b><center>This is a prototype version intended for testing only. Data might become corrupted or lost.</center></b></p>
<br />

<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
        <h3>Sign in</h3>
        <br/>
        <form method="post" asp-action="Login" asp-controller="Identity">
            <div class="form-group">
                <label style="font-weight: bold" asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label style="font-weight: bold" asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <div style="float:left">
                    <label asp-for="RememberMe"></label>
                    <input type="checkbox" asp-for="RememberMe"/>
                    <span asp-validation-for="RememberMe" class="text-danger"></span>
                </div>

                <div style="float:right">
                    <a style="text-decoration:none" class="text-primary" asp-action="ForgotPassword" asp-controller="Identity">Forgot password?</a>
                </div>
            </div>

            <br /><br />
            <div asp-validation-summary="All" class="text-danger"></div>

            <br />
            <button type="submit" class="btn btn-primary center-button-css-signin">Sign in</button>
        </form>
        <br />
        <br />
        <p align="center">or</p>
        <form method="get" asp-action="Register" asp-controller="Identity">
            <button type="submit" class="btn btn-dark center-button-css-signin">Register</button>
        </form>
    </div>
</div>
