@using SignReplacementLaredo_App.ViewModels
@model ResetPasswordViewModel

<h1>Reset Password</h1>

<br /><br /><br /><br /><br />
<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
        <form method="post">
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            
            <br />
            <div asp-validation-summary="All" class="text-danger"></div>
        
            <br />
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>
