@using SignReplacementLaredo_App.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> userManager;

@{
    var currentUser = await userManager.GetUserAsync(User);
    IList<string> roles = null;
    string currentUserRole = "";

    if (currentUser != null)
    {
        roles = userManager.GetRolesAsync(currentUser).Result;
        currentUserRole = roles[0];
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SignReplacementLaredo_App</title>

    @* <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment> *@
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

@*Core Content Start*@

    @* <link href="https://kendo.cdn.telerik.com/themes/7.0.2/default/default-ocean-blue.css" rel="stylesheet" type="text/css" /> *@
    <link rel="stylesheet" href="~/css/sass_styles.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://unpkg.com/jszip/dist/jszip.min.js"></script>
	<script src="https://cdn.kendostatic.com/2024.1.130/js/kendo.all.min.js"></script> 
	<script src="https://cdn.kendostatic.com/2024.1.130/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/js/kendo-ui-license.js"></script>

@*Core Content End*@


</head>
<body class="k-content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/txdot2.png" height="50" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="/WorkOrder">
                                HOME
                            </a>
                        </li>

                        @{
                            if (currentUserRole == "SUPERVISOR" || currentUserRole == "ADMIN" || currentUserRole == "SUPERADMIN")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        MANAGEMENT
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="/Department">Departments</a></li>
                                        <li><a class="dropdown-item" href="/Account">Accounts</a></li>
                                        <li><a class="dropdown-item" href="/Fund">Funds</a></li>
                                        <li><a class="dropdown-item" href="/Task">Tasks</a>
                                        <li><a class="dropdown-item" href="/PCBus">PC Buses</a></li>
                                        <li><a class="dropdown-item" href="/Project">Projects</a></li>
                                        <li><a class="dropdown-item" href="/Activity">Activities</a></li>
                                        <li><a class="dropdown-item" href="/ResType">Res. Types</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="/MaintenanceSection">Maintenance Sections</a></li>
                                        @{
                                            if (currentUserRole == "SUPERVISOR")
                                            {
                                                <li><a class="dropdown-item" href="/MaintenanceSectionParameters">Maintenance Sections Parameters</a></li>
                                            }
                                        }   
                                        <li><a class="dropdown-item" href="/RegionalDistributionCenter">Regional Distribution Centers</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="/Identity/Index">User Management</a></li>
                                    </ul>
                                </li>
                            }
                        }
                        @* @{
                    if (currentUserRole == "ADMIN")
                    {
                    <li class="nav-item">
                    <a class="nav-link" href="/WorkOrderReport">
                    REPORTS
                    </a>
                    </li>

                    }
                    } *@



                        @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/WorkOrder" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    WORK ORDER
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/WorkOrder">Work Order</a></li>
                    </ul>
                    </li>*@

                        @* <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    PARAMETERS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/Parametros/Index">Parameters</a></li>
                    </ul>
                    </li>*@

                    </ul>
                    <partial name="_LoginPartial.cshtml" />
                    @*<form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>*@
                </div>
            </div>
        }

    </nav>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer text-center d-flex align-items-center">
        <div class="container pb-0">
            <hr />
            <p class="text-muted">
                Copyright © @DateTime.Now.Year Progress Software Corporation and/or its subsidiaries or affiliates. All rights reserved.
            </p>
        </div>
    </footer>

    @* <environment names="Development">
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment> *@
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    <environment names="Staging,Production">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>